DATABASE_URL=mysql+pymysql://root:password123@localhost:3306/foodbase
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ecosyncinfo@gmail.com
SMTP_PASSWORD=vglg zlic vtmo emqo
FRONTENT_SITE_URL=http://localhost:3000